<html>
	<head>
		<title>Add Recurring Items</title>
	</head>
	<body>
		<h1>Add Recurring Items</h1>
		
		{% if messages %}
			{% for message in messages %}
				<p style="color:red">{{ message }}</p>
			{% endfor %}
		{% endif %}
		
		<p>Use options below to add recurring payments or expenses.</p>
		<form action="" method="post">
			<p>My {{ recur_form.exp_inc }} {{ recur_form.name }} of $ {{ recur_form.value }} occurs every {{ recur_form.freq_num }} {{ recur_form.freq_interval}} from {{ recur_form.begin_date }} to {{ recur_form.end_date }}</p>
			{% csrf_token %}
			<input type="submit" name="recur" value="Submit">
		</form>
		
		<h1>View Recurring Items</h1>
		
		<table>
			<th>Item Name</th><th>Expense/Income</th><th>Frequency</th><th>Interval</th><th>Begin date</th><th>End date</th></th><th>Value</th>
			{% for item in items %}
				<tr>
					<td>{{ item.name }}</td><td>{{ item.exp_inc}}</td><td>{{ item.freq_num }}</td><td>{{ item.freq_interval }}</td><td>{{ item.begin_date }}</td><td>{{ item.end_date }}</td><td>{{ item.value }}</td>
				</tr>
			{% endfor %}
		</table>
		
	</body>
</html>